#hero {
  background-color: #a8abb0;
  flex: auto;
  display: flex;
  align-items: center;
}

#hero h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
  width: min-content;
  font-size: 65px;
  margin: auto;
  text-align: center;
}

#hero #scroll-arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}
